@model HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Извините, возникла проблема!";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка диапазона</title>
</head>
<body>
    <h2>Простите</h2>
    <span>
        Значение @(((ArgumentOutOfRangeException)Model.Exception).ActualValue)
        было вне ожидаемого диапазона.
    </span>
    <div>
        @Html.ActionLink("Измените значение и попробуйте опять", "Index")
    </div>
    <div style="display:none">
        @Model.Exception.StackTrace
    </div>
</body>
</html>